# Ignorer l'entièreté des fichiers/dossiers
/**/*


# Ne PAS ignorer les fichiers Python et autre fichier important
!/README.md
!/grid
!/grid/*
!/code
!/code/*
!/example
!/example/*
!/.gitignore
!/Shoreline Segmentation.tbx
!/Segmentation Example.png
!/scratch_pad.py
!/Vincent Boulianne (2021) Naming Convention For ECCC's Shoreline Segmentation.docx
!/Reference Grid.lyr
!/Shoreline Segments Naming Tools.tbx