# Ignorer l'entièreté des fichiers/dossiers
/**/*


# Ne PAS ignorer les fichiers Python et autre fichier important
!/README.md
!/main.py
!/api.py
!/.gitignore
!/Vincent Boulianne (2021) Naming Convention For ECCC's Shoreline Segmentation.docx