# Ignorer l'entièreté des fichiers/dossiers
/**/*


# Ne PAS ignorer les fichiers Python et autre fichier important
!/README.md
!/name_segments.py
!/ordering_field.py
!/api.py
!/.gitignore
!/Shoreline Segmentation.tbx
!/grid
!/scratch_pad.py
!/Vincent Boulianne (2021) Naming Convention For ECCC's Shoreline Segmentation.docx